<header class="banner">
    <h1>Twitter Demo App</h1>
</header>
<div class="wrapper">
    <div class="content">
        <div class="filter">
            <label for="tweetFilter">Filter by Tweet Text: </label>
            <input type="text" name="tweetFilter" size="40" ng-model="$ctrl.filterText.text">
        </div>
        <div class="tweet-feed">
            <h3>10 Latest Tweets From <a href="https://twitter.com/salesforce">@salesforce</a></h3>
            <div class="tweet-container" ng-repeat="tweet in $ctrl.twitterData | filter: $ctrl.filterText">
                <a class="tweet" ng-href="{{tweet.tweetLink}}">
                    <div>
                        <img ng-src="{{tweet.user.profile_image_url}}">
                    </div>
                    <div class="tweet-content">
                        <div class="tweet-user-info">
                            <span class="bold username">{{tweet.user.name}}</span> @{{tweet.user.screen_name}}
                        </div>
                        <div ng-bind-html="tweet.text" class="tweet-text"></div>
                        <div ng-if="typeof(tweet.extended_entities.media) !== 'undefined'">
                            <div ng-if="tweet.entities.media[0].type === 'photo'">
                                <img class="media-content" ng-src="{{tweet.entities.media[0].media_url}}" width="{{tweet.entities.media[0].sizes.small.w}}" height="{{tweet.entities.media[0].sizes.small.h}}">
                            </div>
                        </div>
                        <div class="retweet-counter">
                            Retweets: {{tweet.retweet_count}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
